body 
{
    margin: 0;
    <!--background-image: url('../assets/images/bg-sakuratree.png');-->
    <!--background-attachment: fixed;-->
}
<!--For margins: top, right, bottom, left-->

.nav-container
{
    background-color: rgba(0, 0, 0, 1);
    overflow: hidden;
}

.nav-container a 
{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav-container a:hover 
{
    background-color: #ddd;
    color: black;
}

.nav-container a.active 
{
    background-color: #4CAF50;
    color: white;
}
.container
{
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
    color: black;
    margin: 0px 100px 0px 100px ;
    padding: 20px;
    text-align: left;
}

p
{
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

.footer-container
{
    position: absolute;
    width: 100%;
    background-color: rgba(106,115,124,1);
    color: white;
    text-align: left;
}
