body 
{
    margin: 0;
    /*
    background-image: url('../assets/images/bg-sakuratree.png');
    background-attachment: fixed; 
    */
}
/*For margins: top, right, bottom, left*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.container
{
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
    color: black;
    margin: 30px 100px 30px 100px ;
    padding: 20px;
    text-align: left;
}

p
{
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

.footer-container
{
    position: absolute;
    padding-bottom:20px;
    width: 100%;
    background-color: rgba(106,115,124,1);
    color: white;
    text-align: left;
}
