body 
{
    margin: 0;
    <!--background-image: url('../assets/images/bg-sakuratree.png');-->
    <!--background-attachment: fixed;-->
}
<!--For margins: top, right, bottom, left-->

div.nav-container
{
    overflow: hidden;
    background-color: rgba(0, 0, 0, 1);
}

div.nav-container a 
{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

div.nav-container a:hover 
{
    background-color: #ddd;
    color: black;
}

div.nav-container a.active 
{
    background-color: #4CAF50;
    color: white;
}
div.container
{
    background-color: rgba(255, 255, 255, 1);
    color: black;
    margin: 50px 100px 50px 100px ;
    padding: 20px;
    text-align: left;
}

h1 
{
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p
{
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

		div.footer-container
		{
			position: absolute;
			width: 100%;
			background-color: rgba(106,115,124,1);
			color: white;
			margin-right: -8px;
			margin-left: -8px;
			text-align: left;
		}
